
  <div class="row">
    <div class="col s12 m6">  
    
      <ul id= "games-list">
        <% @games.each do |game| %>
          <li
            class="game-item"
            data-id=<%= game.id %>
          >
            <%= game.name %> - <%= game.description %>
          </li>
          <% end %>
      </ul>
    </div>
      <div class="row" id="character-list">
        <h3 id="game">Characters in Game</h3>
        <ul id="characters">
        </ul>
      </div>
  </div>


